.grid {
	margin: auto;
	height: 600px;
	width: 600px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border: lightblue 1.5px solid;
}

.cell {
	border: lightblue 0.5px solid;
}

.x {
	background-image: url("gimp/xblue.png");
}

.o {
	background-image: url("gimp/oblue.png");
}
